@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Quicksand:wght@300&display=swap');

/* html selectors */
a {
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgba(71, 113, 100, .15);
}

ul li {
    list-style: none;
}

section {
    display: grid;
    grid-template-columns: 2;
}

nav {
display: flex;
justify-content: space-around;
text-align: center;

}

nav a {
    color: rgb(125, 124, 124);
    text-decoration: none;
    text-justify: center;
    font-family: Quicksand, sans-serif;
    font-size: 20px;
}

h1 {
    color: black;
    font-size: 30px;
    font-family: Pinyon script, sans-serif;
    z-index: -1;
    text-overflow: center;

}

footer {

}

/* class selectors */
.active {
    background-color: pink;
}

.images img {
    width: 130%;
}

.portfolio-wedding {
    width: 10px;
}

.logo {
    width :100%;
}

.welcome-intro {
    color: black;
}

/* id selectors */
#logo link {
    width: 20px;
}

#hero {
    margin-top: 0;
}


#hero-img {
    width: 100%;
}

#hero-msg {

}

#images_container {
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

#about-me {
    display: grid;
    grid-template-columns: 2;
}

#aboutme-images img {
    width: 200px;
}
